* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #111127;
}

section {
    min-height: 100vh;
    width: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
}

svg {
    width: 100%;
    height: auto;
}

svg path {
    --ease: ease-out;
    --dur: 0.3s;
    stroke: rgba(234, 228, 255, 0.15);
    stroke-width: 0.8px;
    fill: rgba(255, 255, 255, 0.08);
    transition: stroke var(--dur) var(--ease), fill var(--dur) var(--ease);
    cursor: pointer;
    opacity: 0.5;
    pointer-events: none;
}

svg path.has-data {
    pointer-events: auto;
    opacity: 1;
}

svg path:hover {
    stroke: rgba(234, 228, 255, 0.3);
    fill: rgba(255, 255, 255, 0.10);
}

svg path.active,
svg path.active:hover {
    stroke: rgba(234, 228, 255, 0.5);
    fill: rgba(255, 255, 255, 0.15);
    cursor: default;
}

/* Not Important (only custom attr will be reused in WF) */
[data-state-name] {
    color: #F9F9FB;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 32px;
}

.info {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: #fff;
    max-width: 500px;
    width: 100%;
}

.info .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.info .row .wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info .row .wrapper .name {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.info .row .wrapper .value {
    color: #F9F9FB;
    font-size: 20px;
}